Repository bridges-anime/bridges, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridges-anime/images, @bridges-anime/styles, @lunaisnotaboy, @bridges-anime/javascript, @bridges-anime/rails

.github/CODEOWNERS:

# The code owners file

# Assets (@bridges-anime/images & @bridges-anime/styles)
/app/assets/images/ @bridges-anime/images
/app/assets/stylesheets/ @bridges-anime/styles
/postcss.config.js @bridges-anime/styles

# Community files (@lunaisnotaboy)
/.github/ @lunaisnotaboy
/README.md @lunaisnotaboy
/CODE_OF_CONDUCT.md @lunaisnotaboy
/LICENSE @lunaisnotaboy

# JS stuff (@bridges-anime/javascript)
/package.json @bridges-anime/javascript
/yarn.lock @bridges-anime/javascript
/babel.config.js @bridges-anime/javascript
/app/javascript @bridges-anime/javascript

# Ruby (@bridges-anime/rails)
*.rb @bridges-anime/rails
/Gemfile @bridges-anime/rails
/Gemfile.lock @bridges-anime/rails

Fix CHANGELOG.md URL
  CHANGELOG.md
  README.md
Owners: @lunaisnotaboy

Add new database.yml
  .gitignore
  config/database.yml
  config/database.yml.travis
  db/schema.rb
Owners: @bridges-anime/rails

Revert "Add new database.yml"
  .gitignore
  .idea/.gitignore
  .idea/bridges.iml
  .idea/modules.xml
  .idea/vcs.xml
  config/database.yml.sample
  config/database.yml.travis
  db/schema.rb
Owners: @bridges-anime/rails

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Owners: @bridges-anime/javascript

fix: upgrade tailwindcss from 2.0.4 to 2.1.1
  package.json
  yarn.lock
Owners: @bridges-anime/javascript

fix: Gemfile & Gemfile.lock to reduce vulnerabilities
  Gemfile
  Gemfile.lock
Owners: @bridges-anime/rails

fix: upgrade plyr from 3.6.4 to 3.6.5
  package.json
  yarn.lock
Owners: @bridges-anime/javascript

fix: Gemfile & Gemfile.lock to reduce vulnerabilities
  Gemfile
  Gemfile.lock
Owners: @bridges-anime/rails

fix: Gemfile & Gemfile.lock to reduce vulnerabilities
  Gemfile
  Gemfile.lock
Owners: @bridges-anime/rails

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Owners: @bridges-anime/javascript

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Owners: @bridges-anime/javascript

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Owners: @bridges-anime/javascript

fix: Gemfile & Gemfile.lock to reduce vulnerabilities
  Gemfile
  Gemfile.lock
Owners: @bridges-anime/rails

fix: Gemfile & Gemfile.lock to reduce vulnerabilities
  Gemfile
  Gemfile.lock
Owners: @bridges-anime/rails
