Repository bridges-anime/bridges, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridges-anime/images, @bridges-anime/styles, @lunaisnotaboy, @bridges-anime/javascript, @bridges-anime/rails

Nitpicky
  app/views/layouts/application.html.erb
Owners: none

Fix wording in session_store.rb
  config/initializers/session_store.rb
Owners: @bridges-anime/rails

Create brakeman-analysis.yml
  .github/workflows/brakeman-analysis.yml
Owners: @lunaisnotaboy

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Owners: @bridges-anime/javascript

Update dependabot.yml
  .github/dependabot.yml
Owners: @lunaisnotaboy

Gitpod
  .gitpod.yml
Owners: none

Fix Gitpod link in README
  README.md
Owners: @lunaisnotaboy

Gitpod again
  .gitpod.yml
Owners: none

Models fiasco
  app/models/episode.rb
  app/models/show.rb
  app/models/studio.rb
  app/models/video.rb
  db/migrate/20210224151452_add_videos_to_shows.rb
  db/migrate/20210224151849_change_videos_to_episodes.rb
  db/migrate/20210224155718_add_shows_to_studios.rb
  db/migrate/20210317175431_create_studios.rb
  db/migrate/20210317175602_create_shows.rb
  db/migrate/20210317175820_create_episodes.rb
  db/schema.rb
Owners: @bridges-anime/rails

Add community models
  app/models/community.rb
  app/models/post.rb
  app/models/reply.rb
  app/models/user.rb
  db/migrate/20210317180626_create_communities.rb
  db/migrate/20210317180743_create_posts.rb
  db/migrate/20210317181500_create_replies.rb
  db/schema.rb
Owners: @bridges-anime/rails

Structure.sql is back baby!
  .travis.yml
  config/application.rb
  db/schema.rb
  db/structure.sql
Owners: @bridges-anime/rails

Travis troubles
  .travis.yml
Owners: none

Travis
  .travis.yml
  config/database.yml.travis
Owners: none

Travis password
  config/database.yml.travis
Owners: none

fudggeeee
  .travis.yml
Owners: none

a
  .travis.yml
  config/database.yml.travis
Owners: none

a
  .travis.yml
Owners: none

a
  .travis.yml
Owners: none

Add repo task from tootsuite/mastodon
  AUTHORS.md
  Gemfile
  Gemfile.lock
  lib/tasks/.keep
  lib/tasks/repo.rake
Owners: @bridges-anime/rails

Code Climate stuff
  .codeclimate.yml
  .github/workflows/brakeman-analysis.yml
  .rubocop.yml
  .sass-lint.yml
  Capfile
  Gemfile
  Gemfile.lock
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
  app/controllers/about_controller.rb
  app/controllers/api/v1/episodes_controller.rb
  app/controllers/application_controller.rb
  app/controllers/dashboard_controller.rb
  app/controllers/home_controller.rb
  app/controllers/watch_controller.rb
  app/helpers/about_helper.rb
  app/helpers/application_helper.rb
  app/helpers/dashboard_helper.rb
  app/helpers/home_helper.rb
  app/helpers/users/omniauth_helper.rb
  app/helpers/watch_helper.rb
  app/jobs/application_job.rb
  app/mailers/application_mailer.rb
  app/models/application_record.rb
  app/models/community.rb
  app/models/episode.rb
  app/models/post.rb
  app/models/reply.rb
  app/models/show.rb
  app/models/studio.rb
  app/models/user.rb
  config.ru
  lib/streaming.rb
  lib/tasks/repo.rake
Owners: @lunaisnotaboy, @bridges-anime/rails

Remove redundant helper
  app/helpers/application_helper.rb
Owners: @bridges-anime/rails

Fix SCSS import
  app/assets/stylesheets/watch.scss
Owners: @bridges-anime/styles

Bundler binstubs
  bin/brakeman
  bin/bundle-audit
  bin/bundler-audit
  bin/rubocop
  bin/ruby-parse
  bin/ruby-rewrite
Owners: none

SCSS Lint
  app/assets/stylesheets/watch.scss
Owners: @bridges-anime/styles

EditorConfig
  .editorconfig
Owners: none

Make Travis happy
  .travis.yml
  config/application.rb
  db/schema.rb
  db/structure.sql
Owners: @bridges-anime/rails

Rubocop
  .rubocop.yml
  Capfile
  Gemfile
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
  app/controllers/about_controller.rb
  app/controllers/api/v1/episodes_controller.rb
  app/controllers/application_controller.rb
  app/controllers/dashboard_controller.rb
  app/controllers/home_controller.rb
  app/controllers/watch_controller.rb
  app/helpers/about_helper.rb
  app/helpers/application_helper.rb
  app/helpers/dashboard_helper.rb
  app/helpers/home_helper.rb
  app/helpers/users/omniauth_helper.rb
  app/helpers/watch_helper.rb
  app/jobs/application_job.rb
  app/mailers/application_mailer.rb
  app/models/application_record.rb
  app/models/community.rb
  app/models/episode.rb
  app/models/post.rb
  app/models/reply.rb
  app/models/show.rb
  app/models/studio.rb
  app/models/user.rb
  config.ru
  lib/streaming.rb
Owners: @bridges-anime/rails

Hopefully fix Travis (again)
  .travis.yml
  config/database.yml.travis
Owners: none

Travis
  .travis.yml
Owners: none

Add post-deployment migrations
  config/initializers/0_post_deployment_migrations.rb
  db/post_migrate/.keep
  lib/generators/post_deployment_migration_generator.rb
  lib/templates/rails/post_deployment_migration/migration.rb
Owners: @bridges-anime/rails

Change cookie name
  config/initializers/session_store.rb
Owners: @bridges-anime/rails

Update CODEOWNERS
  CODEOWNERS
Owners: none

Add Jira link back to README
  README.md
Owners: @lunaisnotaboy

Fix JS assets
  .env.example
  .gitignore
  .rspec
  Gemfile
  Gemfile.lock
  Procfile.dev
  app/javascript/stylesheets/tailwind.config.js
  app/views/layouts/application.html.erb
  bin/htmldiff
  bin/ldiff
  bin/rspec
  config/initializers/content_security_policy.rb
  config/puma.rb
  config/webpacker.yml
  db/migrate/20210403140749_add_video_path_to_episodes.rb
  db/schema.rb
  db/seeds.rb
  db/seeds/.keep
  package.json
  spec/rails_helper.rb
  spec/spec_helper.rb
  yarn.lock
Owners: @bridges-anime/rails, @bridges-anime/javascript

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Owners: @bridges-anime/javascript

fix: Gemfile to reduce vulnerabilities
  Gemfile
Owners: @bridges-anime/rails

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Owners: @bridges-anime/javascript

Close BRID-2
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .gitlab/CODEOWNERS
  AUTHORS.md
  CODEOWNERS
  README.md
  lib/tasks/repo.rake
Owners: @lunaisnotaboy

Rename CODE_OF_CONDUCT.md to CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Add CHANGELOG.md
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

# The code owners file

# Assets (@bridges-anime/images & @bridges-anime/styles)
/app/assets/images/ @bridges-anime/images
/app/assets/stylesheets/ @bridges-anime/styles
/postcss.config.js @bridges-anime/styles

# Community files (@lunaisnotaboy)
/.github/ @lunaisnotaboy
/README.md @lunaisnotaboy
/CODE_OF_CONDUCT.md @lunaisnotaboy
/LICENSE @lunaisnotaboy

# JS stuff (@bridges-anime/javascript)
/package.json @bridges-anime/javascript
/yarn.lock @bridges-anime/javascript
/babel.config.js @bridges-anime/javascript
/app/javascript @bridges-anime/javascript

# Ruby (@bridges-anime/rails)
*.rb @bridges-anime/rails
/Gemfile @bridges-anime/rails
/Gemfile.lock @bridges-anime/rails
