Repository bridges-anime/bridges, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridges-anime/images, @bridges-anime/styles, @lunaisnotaboy, @bridges-anime/javascript, @bridges-anime/rails

at least it's working
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/application.css
  app/assets/stylesheets/watch.scss
  app/controllers/watch_controller.rb
  app/javascript/packs/application.js
  app/javascript/packs/video.js
  app/javascript/stylesheets/application.scss
  app/javascript/stylesheets/tailwind.config.js
  app/javascript/video/README.md
  app/javascript/video/player.js
  app/views/layouts/application.html.erb
  app/views/watch/show.html.erb
  package.json
  postcss.config.js
  yarn.lock
Owners: @bridges-anime/rails, @bridges-anime/styles, @bridges-anime/javascript

Fix player fullscreen scaling
  app/assets/stylesheets/watch.scss
  app/javascript/packs/video.js
Owners: @bridges-anime/styles, @bridges-anime/javascript

Delete CoC
  CODE_OF_CONDUCT.md
Owners: @lunaisnotaboy

Add new CoC
  CODE_OF_CONDUCT.md
Owners: @lunaisnotaboy

Add Capistrano
  Capfile
  Gemfile
  Gemfile.lock
  config/deploy.rb
  config/deploy/production.rb
Owners: @bridges-anime/rails

Remove old gem
  Gemfile
  Gemfile.lock
Owners: @bridges-anime/rails

Various
  CODEOWNERS
  app/views/layouts/application.html.erb
  app/views/watch/show.html.erb
Owners: none

react & stuff
  app/controllers/api/v1/episodes_controller.rb
  app/javascript/packs/hello_react.jsx
  babel.config.js
  config/routes.rb
  config/webpacker.yml
  package.json
  yarn.lock
Owners: @bridges-anime/rails, @bridges-anime/javascript

Update README with Bitbucket and Jira
  README.md
Owners: @lunaisnotaboy

Binstubs
  bin/bootsnap
  bin/byebug
  bin/cap
  bin/capify
  bin/dotenv
  bin/listen
  bin/nokogiri
  bin/oauth
  bin/puma
  bin/pumactl
  bin/racc
  bin/rackup
  bin/sprockets
  bin/thor
  bin/tilt
Owners: none

Add `README.md` to `config/`
  config/README.md
Owners: none

routes.rb comments
  config/routes.rb
Owners: @bridges-anime/rails

Add comment to CODEOWNERS
  CODEOWNERS
Owners: none

Create Procfile
  Procfile
Owners: none

Create .gitpod.Dockerfile
  .gitpod.Dockerfile
Owners: none

Create .gitpod.yml
  .gitpod.yml
Owners: none

Create startup
  bin/startup
Owners: none

Update setup
  bin/setup
Owners: none

A lot
  .travis.yml
  Procfile.dev
  app/assets/stylesheets/application.scss
  app/javascript/stylesheets/tailwind.config.js
  app/views/devise/registrations/new.html.erb
  app/views/devise/sessions/new.html.erb
  bin/setup
  bin/startup
  config/environments/development.rb
  db/seeds.rb
  package.json
  yarn.lock
Owners: @bridges-anime/styles, @bridges-anime/javascript, @bridges-anime/rails

Fix Travis
  .travis.yml
  README.md
Owners: @lunaisnotaboy

Fix badge position
  README.md
Owners: @lunaisnotaboy

Fix various things (again)
  .env.example
  .gitpod.Dockerfile
  README.md
  app/views/devise/sessions/new.html.erb
  config/database.yml.sample
Owners: @lunaisnotaboy

Switch to schema.rb so Travis is happy
  .travis.yml
  config/application.rb
  db/schema.rb
  db/structure.sql
Owners: @bridges-anime/rails

Codeowners comments
  CODEOWNERS
Owners: none

Asset server config
  .env.example
  config/environments/production.rb
Owners: @bridges-anime/rails

Registration pages
  app/views/devise/registrations/new.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/layouts/application.html.erb
Owners: none

Navbar fiasco
  app/assets/images/logo_text.svg
  app/assets/stylesheets/application.scss
  app/javascript/packs/hello_react.jsx
  app/javascript/packs/navbar.jsx
  app/views/layouts/application.html.erb
  package.json
  yarn.lock
Owners: @bridges-anime/images, @bridges-anime/styles, @bridges-anime/javascript

Homepage redesign
  app/views/home/index.html.erb
  bin/setup
Owners: none

SMTP
  .env.example
  config/environments/production.rb
Owners: @bridges-anime/rails

Update CODEOWNERS
  CODEOWNERS
Owners: none

Update README.md
  README.md
Owners: @lunaisnotaboy

we're back to github boys
  README.md
Owners: @lunaisnotaboy

I needed to commit something
  app/views/home/index.html.erb
Owners: none

Add Empty
  lib/streaming.rb
Owners: @bridges-anime/rails

Helpers
  app/controllers/about_controller.rb
  app/controllers/dashboard_controller.rb
  app/controllers/home_controller.rb
  app/helpers/about_helper.rb
  app/helpers/application_helper.rb
  app/helpers/dashboard_helper.rb
  app/views/about/index.html.erb
  app/views/dashboard/index.html.erb
  app/views/layouts/application.html.erb
  config/routes.rb
Owners: @bridges-anime/rails

Gitpod stuff
  .gitpod.yml
Owners: none

Sessions!
  .gitpod.yml
  config/initializers/session_store.rb
Owners: @bridges-anime/rails

Devise buttons!
  app/controllers/dashboard_controller.rb
  app/views/home/index.html.erb
  app/views/layouts/application.html.erb
  config/routes.rb
Owners: @bridges-anime/rails

Remove Omniauth for the time being
  .env.example
  Gemfile
  Gemfile.lock
  app/controllers/users/omniauth_controller.rb
  app/models/user.rb
  app/views/devise/sessions/new.html.erb
  config/initializers/devise.rb
  config/routes.rb
  db/migrate/20210224010750_add_providers_to_users.rb
  db/schema.rb
Owners: @bridges-anime/rails

Create SECURITY.md
  SECURITY.md
Owners: none

.github/CODEOWNERS:

# The code owners file

# Assets (@bridges-anime/images & @bridges-anime/styles)
/app/assets/images/ @bridges-anime/images
/app/assets/stylesheets/ @bridges-anime/styles
/postcss.config.js @bridges-anime/styles

# Community files (@lunaisnotaboy)
/.github/ @lunaisnotaboy
/README.md @lunaisnotaboy
/CODE_OF_CONDUCT.md @lunaisnotaboy
/LICENSE @lunaisnotaboy

# JS stuff (@bridges-anime/javascript)
/package.json @bridges-anime/javascript
/yarn.lock @bridges-anime/javascript
/babel.config.js @bridges-anime/javascript
/app/javascript @bridges-anime/javascript

# Ruby (@bridges-anime/rails)
*.rb @bridges-anime/rails
/Gemfile @bridges-anime/rails
/Gemfile.lock @bridges-anime/rails
