Repository bridges-anime/bridges, changes with the owners that CODEOWNERS names for each.
All owners: @bridges-anime/images, @bridges-anime/styles, @lunaisnotaboy, @bridges-anime/javascript, @bridges-anime/rails

Update README.md
  README.md
Owners: @lunaisnotaboy

we're back to github boys
  README.md
Owners: @lunaisnotaboy

I needed to commit something
  app/views/home/index.html.erb
Owners: @bridges-anime/rails

Add Empty
  lib/streaming.rb
Owners: @bridges-anime/rails

Helpers
  app/controllers/about_controller.rb
  app/controllers/dashboard_controller.rb
  app/controllers/home_controller.rb
  app/helpers/about_helper.rb
  app/helpers/application_helper.rb
  app/helpers/dashboard_helper.rb
  app/views/about/index.html.erb
  app/views/dashboard/index.html.erb
  app/views/layouts/application.html.erb
  config/routes.rb
Owners: @bridges-anime/rails

Gitpod stuff
  .gitpod.yml
Owners: none

Sessions!
  .gitpod.yml
  config/initializers/session_store.rb
Owners: @bridges-anime/rails

Devise buttons!
  app/controllers/dashboard_controller.rb
  app/views/home/index.html.erb
  app/views/layouts/application.html.erb
  config/routes.rb
Owners: @bridges-anime/rails

Remove Omniauth for the time being
  .env.example
  Gemfile
  Gemfile.lock
  app/controllers/users/omniauth_controller.rb
  app/models/user.rb
  app/views/devise/sessions/new.html.erb
  config/initializers/devise.rb
  config/routes.rb
  db/migrate/20210224010750_add_providers_to_users.rb
  db/schema.rb
Owners: @bridges-anime/rails

Create SECURITY.md
  SECURITY.md
Owners: none

Nitpicky
  app/views/layouts/application.html.erb
Owners: @bridges-anime/rails

Fix wording in session_store.rb
  config/initializers/session_store.rb
Owners: @bridges-anime/rails

Create brakeman-analysis.yml
  .github/workflows/brakeman-analysis.yml
Owners: @lunaisnotaboy

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Owners: @bridges-anime/javascript

Update dependabot.yml
  .github/dependabot.yml
Owners: @lunaisnotaboy

Gitpod
  .gitpod.yml
Owners: none

Fix Gitpod link in README
  README.md
Owners: @lunaisnotaboy

Gitpod again
  .gitpod.yml
Owners: none

Models fiasco
  app/models/episode.rb
  app/models/show.rb
  app/models/studio.rb
  app/models/video.rb
  db/migrate/20210224151452_add_videos_to_shows.rb
  db/migrate/20210224151849_change_videos_to_episodes.rb
  db/migrate/20210224155718_add_shows_to_studios.rb
  db/migrate/20210317175431_create_studios.rb
  db/migrate/20210317175602_create_shows.rb
  db/migrate/20210317175820_create_episodes.rb
  db/schema.rb
Owners: @bridges-anime/rails

Add community models
  app/models/community.rb
  app/models/post.rb
  app/models/reply.rb
  app/models/user.rb
  db/migrate/20210317180626_create_communities.rb
  db/migrate/20210317180743_create_posts.rb
  db/migrate/20210317181500_create_replies.rb
  db/schema.rb
Owners: @bridges-anime/rails

Structure.sql is back baby!
  .travis.yml
  config/application.rb
  db/schema.rb
  db/structure.sql
Owners: @bridges-anime/rails

Travis troubles
  .travis.yml
Owners: none

Travis
  .travis.yml
  config/database.yml.travis
Owners: none

Travis password
  config/database.yml.travis
Owners: none

fudggeeee
  .travis.yml
Owners: none

a
  .travis.yml
  config/database.yml.travis
Owners: none

a
  .travis.yml
Owners: none

a
  .travis.yml
Owners: none

Add repo task from tootsuite/mastodon
  AUTHORS.md
  Gemfile
  Gemfile.lock
  lib/tasks/.keep
  lib/tasks/repo.rake
Owners: @bridges-anime/rails

Code Climate stuff
  .codeclimate.yml
  .github/workflows/brakeman-analysis.yml
  .rubocop.yml
  .sass-lint.yml
  Capfile
  Gemfile
  Gemfile.lock
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
  app/controllers/about_controller.rb
  app/controllers/api/v1/episodes_controller.rb
  app/controllers/application_controller.rb
  app/controllers/dashboard_controller.rb
  app/controllers/home_controller.rb
  app/controllers/watch_controller.rb
  app/helpers/about_helper.rb
  app/helpers/application_helper.rb
  app/helpers/dashboard_helper.rb
  app/helpers/home_helper.rb
  app/helpers/users/omniauth_helper.rb
  app/helpers/watch_helper.rb
  app/jobs/application_job.rb
  app/mailers/application_mailer.rb
  app/models/application_record.rb
  app/models/community.rb
  app/models/episode.rb
  app/models/post.rb
  app/models/reply.rb
  app/models/show.rb
  app/models/studio.rb
  app/models/user.rb
  config.ru
  lib/streaming.rb
  lib/tasks/repo.rake
Owners: @lunaisnotaboy, @bridges-anime/rails

Remove redundant helper
  app/helpers/application_helper.rb
Owners: @bridges-anime/rails

Fix SCSS import
  app/assets/stylesheets/watch.scss
Owners: @bridges-anime/styles

Bundler binstubs
  bin/brakeman
  bin/bundle-audit
  bin/bundler-audit
  bin/rubocop
  bin/ruby-parse
  bin/ruby-rewrite
Owners: none

SCSS Lint
  app/assets/stylesheets/watch.scss
Owners: @bridges-anime/styles

EditorConfig
  .editorconfig
Owners: none

Make Travis happy
  .travis.yml
  config/application.rb
  db/schema.rb
  db/structure.sql
Owners: @bridges-anime/rails

Rubocop
  .rubocop.yml
  Capfile
  Gemfile
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
  app/controllers/about_controller.rb
  app/controllers/api/v1/episodes_controller.rb
  app/controllers/application_controller.rb
  app/controllers/dashboard_controller.rb
  app/controllers/home_controller.rb
  app/controllers/watch_controller.rb
  app/helpers/about_helper.rb
  app/helpers/application_helper.rb
  app/helpers/dashboard_helper.rb
  app/helpers/home_helper.rb
  app/helpers/users/omniauth_helper.rb
  app/helpers/watch_helper.rb
  app/jobs/application_job.rb
  app/mailers/application_mailer.rb
  app/models/application_record.rb
  app/models/community.rb
  app/models/episode.rb
  app/models/post.rb
  app/models/reply.rb
  app/models/show.rb
  app/models/studio.rb
  app/models/user.rb
  config.ru
  lib/streaming.rb
Owners: @bridges-anime/rails

Hopefully fix Travis (again)
  .travis.yml
  config/database.yml.travis
Owners: none

Travis
  .travis.yml
Owners: none

Add post-deployment migrations
  config/initializers/0_post_deployment_migrations.rb
  db/post_migrate/.keep
  lib/generators/post_deployment_migration_generator.rb
  lib/templates/rails/post_deployment_migration/migration.rb
Owners: @bridges-anime/rails

CODEOWNERS:

# The code owners file

# Assets (@bridges-anime/images & @bridges-anime/styles)
/app/assets/images/ @bridges-anime/images
/app/assets/stylesheets/ @bridges-anime/styles
/postcss.config.js @bridges-anime/styles

# Community files (@lunaisnotaboy)
/.github/ @lunaisnotaboy
/README.md @lunaisnotaboy
/CODE_OF_CONDUCT.md @lunaisnotaboy
/LICENSE @lunaisnotaboy
/CODEOWNERS @lunaisnotaboy

# JS stuff (@bridges-anime/javascript)
/package.json @bridges-anime/javascript
/yarn.lock @bridges-anime/javascript
/babel.config.js @bridges-anime/javascript
/app/javascript @bridges-anime/javascript

# Ruby (@bridges-anime/rails)
*.rb @bridges-anime/rails
/Gemfile @bridges-anime/rails
/Gemfile.lock @bridges-anime/rails
/app/views/ @bridges-anime/rails
/app/channels/ @bridges-anime/rails
/app/controllers/ @bridges-anime/rails
/app/helpers/ @bridges-anime/rails
/app/jobs/ @bridges-anime/rails
/app/mailers/ @bridges-anime/rails
/app/models/ @bridges-anime/rails
